@import "./src/styles/setup";

.popup {
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        background-color: white;
        position: absolute;

        h2 {
                color: grey;
                text-align: center;
        }
}